* {
	-fx-primary-color: #696cff;
	-fx-primary-button-color: #696cff;
	-fx-secondary-color: #4B6EAF;
    -fx-color-border: #d9dee3;
    -fx-color-bordor-secondary: #8592a3;
	-fx-focus-color: -fx-secondary-color;
	-fx-title-bold: #566a7f;
	-fx-text-tab: #566a7f;
	-fx-title-muted: #a1acb8;
}


.drop-shadow{
	-fx-effect: dropshadow( one-pass-box , grey , 8 , 0.0 , 0 , 0 );
}
Button{
	-fx-background-color:  -fx-primary-button-color;
	-fx-cursor: hand;
}

.menu-button{
	-fx-background-color: none;
}

.menu-button .arrow-button{
	-fx-padding: 0;
}

.menu-button .arrow-button .arrow{
	-fx-padding: 0;
}
.menu-button .context-menu{
	-fx-padding: 0;
}
.menu-button .menu-item{
	-fx-text-fill: green;
	-fx-background-color: #f9fafb;
    -fx-text-background-color: #697a8d;
    -fx-border-color: -fx-color-border;
}
.menu-button .menu-item:odd{
    -fx-background-color: #fff;
    -fx-text-background-color: #697a8d;
}
.menu-button .menu-item .label{
	-fx-text-fill: -fx-title-muted;
	-fx-font-weight: bold;
	
}
/*Edit Cell Color Only when selected */
.menu-button .menu-item:selected{
-fx-background-color:transparent; 
    -fx-border-color: -fx-color-border;
    -fx-border-radius: 5 0 0 5;
}

.sidebar{
	-fx-padding: 25 0 25 0;
	-fx-background-color: white;
	-fx-spacing: 25px;
}
.container{
	-fx-background-color: #f2f2ff;
	-fx-padding: 5px 100px;
}
.navbar{
	-fx-background-color: #fff;
	-fx-padding: 10px;
	-fx-background-radius: 5px 
}
.searchBar{
	-fx-background-color: #fff;
	-fx-background-radius: 10px; 
}
.searchBar .header{
	-fx-background-color: #fff;
	-fx-background-radius: 10px 10px 0px 0px; 
	-fx-padding: 10px 20px;
}
.searchBar .header Text{
	-fx-fill: #566a7f;
	-fx-font-size: 15;
	-fx-font-weight: bold;
}
.searchBar .header Button{
	-fx-background-color: #696cff;
	-fx-font-size: 13;
	-fx-font-weight: bold;
	-fx-text-fill: #fff;
}
.searchBar .header Button:hover{
	-fx-background-color: #5f61e6;
}

.searchBar .body{
	-fx-background-color: #fff;
	-fx-fill: #566a7f;
	-fx-padding: 10px 20px;
	-fx-background-radius: 0px 0px 10px 10px; 
}
.searchBar .body Text{
	-fx-background-color: #fff;
	-fx-font-size: 12;
	-fx-fill: #566a7f;
}
.searchBar .body TextField{
	-fx-background-color: none;
	-fx-border-color: -fx-color-border;
	-fx-border-radius: 5px;
}
.title-muted{
	-fx-fill: -fx-title-muted;
	-fx-font-size: 20;
}

.title-bold{
	-fx-fill: -fx-title-bold;
	-fx-font-size: 22;
	-fx-font-weight: bold;
}
.avatar{
	-fx-background-radius: 100%;
	-fx-pref-width: 40px;
	-fx-pref-height: 40px;
	-fx-background-color: none;
}
.avatar Pane{
	-fx-background-radius: 100%;
	-fx-border-radius: 100%;
	-fx-pref-width: 40px;
	-fx-pref-height: 40px;
	-fx-background-color: blue;
	/*-fx-background-image: url('../img/avatar.jpg');*/
}
.avatar .title-bold, .avatar .title-muted{
	-fx-font-size: 15;
}

.menu-option{
	-fx-background-color: #fff;
}

.menu-option:hover{
	-fx-background-color: #f8f8f9;
	-fx-cursor: hand;
}

.menu-header{
	-fx-alignment: center_left;
	-fx-spacing: 10px;
}
.menu-header-separator{
	-fx-stroke-width: 5;
	-fx-stroke: -fx-color-border; 
	-fx-stroke-line-cap: round;
}
.menu-header Text{
	-fx-fill: -fx-title-muted;
	-fx-font-size: 13;
	-fx-font-weight: bold;
}

.menu-iner{
	-fx-background-color:red;
}

.menu-iner TitledPane{
	-fx-background-color:red;
}

.titled-pane .title {
    -fx-border-color: null;
}

.tableContainer{
	-fx-background-color: #fff;
	-fx-background-radius: 10px; 
	-fx-padding: 10px 20px;
}
.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}
.table-view .column-header-background{
    -fx-background-color: transparent;
    -fx-background-radius: 7px 7px 0px 0px;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-border-color: -fx-color-border;
    -fx-border-width: 0 0 1 0
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:odd{
    -fx-background-color: #fff;
    -fx-text-background-color: #697a8d;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-border-color: -fx-color-border;
    -fx-border-width: 0 1 1 1  
}
.table-row-cell:even{
    -fx-background-color: #f9fafb;
    -fx-text-background-color: #697a8d;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
    -fx-border-color: -fx-color-border;
    -fx-border-width: 0 1 1 1
}
.table-row-cell:hover {
    -fx-background-color: #233446;
    -fx-text-background-color: #fff;
}

/*/
.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  #566a7f;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  #566a7f;
}*/

.table-row-cell:highlighted {
    -fx-background-color: #81c483;
    -fx-background-radius: 15px;
}

/*
 * Modification menu
 */
 .menu{
 	
 }
.menu > .titled-pane {
  -fx-animated: true;
  -fx-arrow-side: right;
}
 .menu > .titled-pane > .title {
   -fx-background-color: transparent;
    -fx-background-insets: -1 0 0 0, 0 1 1 1, 1 2 2 2;
    -fx-background-radius: 0, 0, 0;
	-fx-background-color: #fff;
	-fx-fill: #566a7f;
	-fx-padding: 10px 20px;
	-fx-arrow-side: right;
}
.menu > .titled-pane > *.content {
  -fx-background-color: transparent;
  -fx-border-color: null;
}
.menu > .titled-pane > .title > *.text {
	-fx-fill: #566a7f;
	-fx-font-size: 15;
	-fx-font-weight: bold;
}

.menu > .titled-pane > .title {
    -fx-background-color: null;
	-fx-fill: #566a7f;
}

.menu .menu-item{	
    -fx-alignment: CENTER_LEFT;
    -fx-spacing: 15;
    -fx-padding: 0 25 0 0;
    -fx-background-color: none;
    -fx-alignment: center_right;
    -fx-content-display: right;
    -fx-text-fill: -fx-title-bold;
}

.menu .menu-item Circle{
	-fx-fill: -fx-color-border;
	-fx-stroke: -fx-color-border;
}

.menu .menu-item Text{
	-fx-fill: #566a7f;
 }
 
 /* Scrollpane */
 
 


.scroll-bar:vertical,
.scroll-bar:vertical .track,
.scroll-bar:vertical .track-background,
.scroll-bar:horizontal,
.scroll-bar:horizontal .track,
.scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.scroll-bar:vertical .thumb{
    -fx-background-color:  #566a7f;
}
.scroll-bar:horizontal .thumb {
    -fx-background-color:  #566a7f;
}
 .combo-box{
-fx-background-color:transparent; 
    -fx-border-color: -fx-color-border;
    -fx-border-radius: 5 0 0 5;
    -fx-background-radius: 5 0 0 5;
 }
/*Edit Normal Cell color */
 .combo-box .list-cell{
    -fx-background-color: #f9fafb;
    -fx-text-background-color: #697a8d;
    -fx-border-color: -fx-color-border;
}
 .combo-box .list-cell:odd{
    -fx-background-color: #fff;
    -fx-text-background-color: #697a8d;
}
/*Edit Cell Color Only when cursor hover cell */
/*.combo-box .list-cell:hover{
-fx-background-color:green;
}*/
/*Edit Cell Color Only when selected */
.combo-box .list-cell:selected{
-fx-background-color:transparent; 
    -fx-border-color: -fx-color-border;
    -fx-border-radius: 5 0 0 5;
}

/* Formulaire */
.title-form{
	-fx-fill: -fx-title-bold;
	-fx-font-weight: bold;
	-fx-font-size: 18;
}
.title-form-sub{
	-fx-fill: -fx-title-muted;
	-fx-font-weight: 700;
	-fx-font-size: 18;
}
.input-box{
    -fx-border-color: -fx-color-border;
    -fx-border-width: 1;
    -fx-border-radius: 8;
    -fx-alignment: CENTER;
    -fx-padding: 5 0 5 5;
    -fx-max-width: 400;
}
.input-box-error{
    -fx-border-color: red;	
}
.text-error{
	-fx-fill: red;
	-fx-font-size: 13;
}
.input{
    -fx-border-color: none;
    -fx-background-color: none;
}
.text-validator{
	-fx-fill: red;
	-fx-font-size: 12;
}
.input-title{
	-fx-fill: -fx-title-bold;
	-fx-font-weight: bold;
	-fx-font-size: 13;
}
.spinner{
	-fx-background-color: none;
}
.spinner .text-field{
	-fx-background-color: #fff;
}
.spinner .increment-arrow-button,
.spinner .decrement-arrow-button {
	-fx-background-color: transparent;
	-fx-background-radius: 0;
}
.spinner .increment-arrow-button .increment-arrow,
.spinner .decrement-arrow-button .decrement-arrow {
	-fx-background-color: black;
}

.add-btn{
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size: 15;
	-fx-background-radius: 5;
	-fx-border-radius: 5;	
	-fx-padding: 8 30;
}
.cancel-btn{
	-fx-background-color: none;
	-fx-border-color: -fx-color-bordor-secondary;
	-fx-text-fill: -fx-color-bordor-secondary;
	-fx-font-weight: bold;
	-fx-font-size: 15;
	-fx-background-radius: 5;
	-fx-border-radius: 5;	
	-fx-padding: 8 30;
}
.cancel-btn:hover{
	-fx-background-color: -fx-color-bordor-secondary;
	-fx-border-color: -fx-color-bordor-secondary;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font-size: 15;
	-fx-background-radius: 5;
	-fx-border-radius: 5;	
	-fx-padding: 8 30;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-background-color: -fx-color-border;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5 15;
}
.tab:selected{
    -fx-background-color: #fff;
    -fx-text-fill: -fx-text-tab;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: -fx-text-tab;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: -fx-text-tab;
}
/* Detail */


.title-detail{
	-fx-fill: -fx-title-muted;
	-fx-font-weight: bold;
	-fx-font-size: 15;
}

.title-detail-number{
	-fx-fill: -fx-title-bold;
	-fx-font-weight: bold;
	-fx-font-size: 15;
}


.title-road{
	-fx-fill: -fx-color-bordor-secondary;
	-fx-font-weight: bold;
	-fx-font-size: 15;
}
.title-road-sub{
	-fx-fill: -fx-title-muted;
	-fx-font-weight: 700;
	-fx-font-size: 15;
}


/* Graphe */

.bar-chart{
	-fx-background-color: #fff;
}

.bar-chart .chart-bar{
	-fx-background-radius: 5 5 0 0;	
}

.bar-chart .bar-legend-symbol{
	-fx-background-radius: 100;
}


.chart-plot-background {
    -fx-background-color:transparent;
}

.axis-tick-mark {
    -fx-background-color:transparent;
    -fx-border-color: red;
    -fx-stroke: red;
    -fx-fill: red;
}

.chart{
	-fx-text-fill: red;
    -fx-fill: red;
}

